name: Verify

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  schedule:
    - cron: "55 4 * * *"

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet: # https://dotnetcli.blob.core.windows.net/dotnet/release-metadata/releases-index.json
          - framework: net8.0
          - framework: net9.0
          - framework: net10.0

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet build --framework ${{ matrix.dotnet.framework }} src/Verse.sln

  check:
    name: Check style
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet format --no-restore --verify-no-changes src/Verse.sln

  test:
    name: Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet:
          - framework: net10.0

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
      - run: dotnet test --framework ${{ matrix.dotnet.framework }} src/Verse.Test

  validate:
    name: Validate
    runs-on: ubuntu-latest

    needs:
      - build
      - check
      - test

    steps:
      - run: true
